n8n-workflow.json
{
  "name": "Catalyst Motorsport – Quote Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4e5f6a7-1001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "catalyst-quote-webhook"
    },
    {
      "parameters": {
        "sendTo": "chris@catalystmotorsport.com",
        "subject": "=New Quote Request from {{ $json.body.name }}",
        "emailType": "html",
        "message": "=<div style=\"background:#0A0A0A;margin:0;padding:0;font-family:Arial,Helvetica,sans-serif\"><div style=\"max-width:600px;margin:0 auto;background:#0A0A0A\"><div style=\"padding:28px 30px;text-align:center\"><img src=\"https://catalyst-motorsport.vercel.app/images/CMW-logo.png\" alt=\"Catalyst Motorsport\" style=\"height:40px;width:auto\" /></div><div style=\"margin:0 30px;height:3px;background:#C41E3A\"></div><div style=\"margin:20px 30px 0;background:#C41E3A;border-radius:6px 6px 0 0;padding:14px 20px\"><p style=\"color:#ffffff;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:2px;margin:0\">New Quote Request</p></div><div style=\"margin:0 30px;background:#1A1A1A;border:1px solid #2A2A2A;border-top:none;border-radius:0 0 6px 6px;padding:24px\"><h2 style=\"color:#F5F5F5;font-size:20px;font-weight:700;margin:0 0 4px 0\">{{ $json.body.name }}</h2><p style=\"margin:0 0 20px 0\"><a href=\"mailto:{{ $json.body.email }}\" style=\"color:#C41E3A;text-decoration:none;font-size:14px\">{{ $json.body.email }}</a><span style=\"color:#424242;font-size:14px\"> &middot; </span><a href=\"tel:{{ $json.body.phone }}\" style=\"color:#C41E3A;text-decoration:none;font-size:14px\">{{ $json.body.phone }}</a></p><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#757575;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;width:110px;vertical-align:top\">Service</td><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#E0E0E0;font-size:14px\">{{ $json.body.service || 'Not specified' }}</td></tr><tr><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#757575;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;vertical-align:top\">Vehicle</td><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#E0E0E0;font-size:14px\">{{ $json.body.vehicle || 'Not specified' }}</td></tr><tr><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#757575;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;vertical-align:top\">Message</td><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#E0E0E0;font-size:14px\">{{ $json.body.message || 'No message' }}</td></tr><tr><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#757575;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;vertical-align:top\">Text OK?</td><td style=\"padding:12px 0;border-top:1px solid #2A2A2A;color:#E0E0E0;font-size:14px\">{{ $json.body.textUpdates ? 'Yes' : 'No' }}</td></tr></table></div><div style=\"padding:24px 30px;text-align:center\"><p style=\"color:#424242;font-size:11px;margin:0\">catalystmotorsport.com</p></div></div></div>",
        "options": {}
      },
      "id": "d4e5f6a7-1001-4000-8000-000000000002",
      "name": "Send Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "CONFIGURE_ME",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "We Got Your Quote Request – Catalyst Motorsport",
        "emailType": "html",
        "message": "=<div style=\"background:#0A0A0A;margin:0;padding:0;font-family:Arial,Helvetica,sans-serif\"><div style=\"max-width:600px;margin:0 auto;background:#0A0A0A\"><div style=\"padding:40px 30px 30px;text-align:center\"><img src=\"https://catalyst-motorsport.vercel.app/images/CMW-logo.png\" alt=\"Catalyst Motorsport\" style=\"height:56px;width:auto\" /></div><div style=\"margin:0 30px;height:3px;background:#C41E3A\"></div><div style=\"padding:36px 30px\"><p style=\"color:#9E9E9E;font-size:11px;text-transform:uppercase;letter-spacing:2px;margin:0 0 12px 0\">Quote Request Received</p><h1 style=\"color:#F5F5F5;font-size:26px;font-weight:700;margin:0 0 16px 0;line-height:1.3\">Thanks, {{ $json.body.name }}.</h1><p style=\"color:#9E9E9E;font-size:15px;line-height:1.7;margin:0 0 32px 0\">We've received your request and our team will review it shortly. Expect to hear back within 24 hours.</p><div style=\"background:#1A1A1A;border:1px solid #2A2A2A;border-radius:8px;padding:24px;margin-bottom:32px\"><p style=\"color:#757575;font-size:11px;text-transform:uppercase;letter-spacing:2px;margin:0 0 16px 0\">Your Request</p><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:12px 0;border-bottom:1px solid #2A2A2A;color:#757575;font-size:12px;text-transform:uppercase;letter-spacing:1px;width:100px;vertical-align:top\">Service</td><td style=\"padding:12px 0;border-bottom:1px solid #2A2A2A;color:#E0E0E0;font-size:14px\">{{ $json.body.service || 'Not specified' }}</td></tr><tr><td style=\"padding:12px 0;border-bottom:1px solid #2A2A2A;color:#757575;font-size:12px;text-transform:uppercase;letter-spacing:1px;vertical-align:top\">Vehicle</td><td style=\"padding:12px 0;border-bottom:1px solid #2A2A2A;color:#E0E0E0;font-size:14px\">{{ $json.body.vehicle || 'Not specified' }}</td></tr><tr><td style=\"padding:12px 0;color:#757575;font-size:12px;text-transform:uppercase;letter-spacing:1px;vertical-align:top\">Message</td><td style=\"padding:12px 0;color:#E0E0E0;font-size:14px\">{{ $json.body.message || '—' }}</td></tr></table></div><p style=\"color:#F5F5F5;font-size:16px;font-weight:600;margin:0 0 8px 0\">Need it sooner?</p><p style=\"color:#9E9E9E;font-size:14px;line-height:1.6;margin:0 0 20px 0\">Skip the wait — call us directly for an immediate estimate.</p><a href=\"tel:+17144421333\" style=\"display:inline-block;background:#C41E3A;color:#ffffff;text-decoration:none;padding:14px 32px;border-radius:6px;font-size:16px;font-weight:700;letter-spacing:0.5px\">(714) 442-1333</a></div><div style=\"margin:0 30px;height:1px;background:#2A2A2A\"></div><div style=\"padding:24px 30px;text-align:center\"><p style=\"color:#757575;font-size:11px;text-transform:uppercase;letter-spacing:2px;margin:0 0 12px 0\">Our Services</p><p style=\"color:#9E9E9E;font-size:13px;margin:0\">Vinyl Wraps &nbsp;&middot;&nbsp; Paint Protection Film &nbsp;&middot;&nbsp; Window Tint &nbsp;&middot;&nbsp; Off-Road &amp; Luxury</p></div><div style=\"padding:24px 30px;border-top:1px solid #2A2A2A;text-align:center\"><p style=\"color:#616161;font-size:12px;margin:0 0 4px 0\">Catalyst Motorsport</p><p style=\"color:#424242;font-size:12px;margin:0 0 12px 0\">1161 N Cosby Way, Anaheim, CA</p><a href=\"https://www.instagram.com/catalyst_motorsport\" style=\"color:#C41E3A;text-decoration:none;font-size:12px;letter-spacing:0.5px\">@catalyst_motorsport</a></div></div></div>",
        "options": {}
      },
      "id": "d4e5f6a7-1001-4000-8000-000000000003",
      "name": "Send Auto-Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "CONFIGURE_ME",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"message\":\"Quote request received.\"}",
        "options": {}
      },
      "id": "d4e5f6a7-1001-4000-8000-000000000004",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Auto-Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auto-Reply": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
